[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = ">= 6.7.0, < 6.8"
facebook-sdk = ">= 2.0.0, < 3"
google = ">= 1.9.3, < 2"
google-api-python-client = ">= 1.6.4 , < 2"
fest = "*"


[dev-packages]

